
/*ydx global*/
.g-fn
    font-weight:normal
.g-mb40
    margin-bottom:40px
.g-mtb10
    margin:10px 0
.g-mb30
    margin-bottom:30px
.g-mb20
    margin-bottom:20px
.g-mb15
    margin-bottom:15px
.g-mb10
    margin-bottom:10px
.g-mt10mb20
    margin:10px 0 20px 0
.g-mr30
    margin-right:30px
.g-mr20
    margin-right:20px
.g-mr15
    margin-right:15px
.g-mr10
    margin-right:10px
.g-wrap 
     table-layout:fixed
     word-break: break-all
     overflow:hidden
.g-c1,a.g-c3,a.g-c1:link
    color:#828282
.g-c2
    color:#369
.g-c9
    color:#999
.g-c4
    color:#444
.g-c5
    color:#cd0000
.g-c6
    color:#008000
.g-orange
    color:#ff7300
.g-c3,a.g-c3,a.g-c3:link
    color:#777
a.g-r-more,a.g-r-more:link,.g-r-more
    float:right
    color:#369
    font-weight: normal
.g-vac *
    vertical-align: middle
.g-f12
    font-size:12px 
.g-f14
    font-size:14px
.g-f16
    font-size:16px
.g-f20
    font-size:20px
.g-tar
    text-align:right
.g-tac
    text-align:center
.g-f2
    font:600 20px Constantia,Georgia,sans-serif
.g-f-b
    font-weight:bold
.g-pos-a
    position absolute
.g-solid-line
    padding-top:10px
    margin-top:10px
    border-top:1px solid #f0f0f0
.g-dashed-line
    padding-top:10px
    margin-top:10px
    border-top:1px dashed #f0f0f0
.ui-datepicker
    z-index:3000 !important
.ms-yh
    font-family:"\5FAE\8F6F\96C5\9ED1","\9ED1\4F53","\6587\6CC9\9A7F\6B63\9ED1\4F53","\534E\6587\7EC6\9ED1"
.loading
    background:url("http://img.china.alibaba.com/images/cn/home/loading.gif") no-repeat 50% 50%
.h-list
    li
        float: left
        display:inline