$color-white = #fff
$color-black = #000
$color-orange = #ff7300
$color-lianglan = #0172e5

$font-color-base = #444
$font-color-light = #999
$font-color-strong = #FF7300

//link-color
$link-color-base = #336699
$link-color-paragraph = #444
$link-color-hover = #ff7300
$link-color-strong = #ff7300

//background-color
$background-color-base = #fff
$background-color-base2 = #f4f4f4


//margin
$margin-base = 8px

//grid
$grid-24-width = 24px
$grid-32-width = 32px
$gird-gutter-width = 8px

//border-color
$border-color = #e2e2e2

