.offer-cell.grid-4
    a(href="#")
        img.img-responsive(src="http://i05.c.aliimg.com/img/ibank/2013/587/623/945326785_863514491.220x220.jpg")
    .info 红酒开瓶器
    .icons
        span.g-i-cxt16x16
        span.g-i-renzheng
        span.g-i-baozhang
    .price.orange
        span.fd-cny &yen;
        span 10.00