/*!
 * 淘宝引流-采购定制
 * @author jianping.shenjp
 * @version 
 * !!cmd:compress=true
 * */
 
/* lib & sys */
@import url(http://style.c.aliimg.com/fdevlib/css/fdev-v4/core/fdev-wide.css);

/*module & widget*/

/*page*/
@import url(../css/index.css);

